.form__legend {
    background-color: rgb(2, 154, 192);
    color: #fdfdfd;
    font-weight: 700;
    border: 1px solid #0e0e0e;
    text-align: left;
    letter-spacing: 2px;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px 10px;
}

.form__amount {
    text-align: center;
    margin-left: 3px;
    border-radius: 20px;
    font-weight:bolder;
}

.form__currency {
    width: 250px;
    max-width: 75%;
    display: inline-block;
    margin-right: 5px;  
    line-height: 55px;
    text-align: center;
    font-weight:bolder;
    border-radius:20px 
}
.form__button {
  size-adjust: 100px;
  width: 75%;
  padding:0px;
  margin-top: 20px;
  font-weight:bolder;
  border-radius:20px   
}    

.form__button:hover {
  background-color: rgb(2, 154, 192);
  color:white;

}
