html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Lato', sans-serif;
  margin: 20px;
  max-width: 500px;
}

.fieldset {
  background-image: url("../Images/background-image.jpg");
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 150px;
  border-radius: 5px;
  text-align: left;
  line-height: 30px;
  font-weight: bold;

}

